/* Regole Intestazione */

body{
    background-color:#EEEEE0;
}


header{
    background-color:white;
}

#Logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

#Logo-Text {
    font-size: 40px;
    
   
}

/* Regole Contenitore */

#Container{
    background-color:white;
    margin: 80px;;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
   
   
    
/* Regole Bottoni */

section{
    margin-bottom: 30px;
}

#button{
    padding-bottom: 10px;    
    border-bottom: 1px solid #C6CCD1;
}

#primo-bottone{
    background-color: #14AAF5;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #14AAF5;
}

#secondo-bottone{
    color: #C6CCD1;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #C6CCD1;
}

/* Regole Principali  */

h2{
    padding-top: 2px;
    
}

.internal-blue-1{
    font-size: 10px;
    color: white;
    background-color: #14AAF5;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #14AAF5;
}

#internal-violet{
    font-size: 10px;
    color: white;
    background-color: #AB5DE6;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #AB5DE6;
}

#internal-green-1{
    font-size: 10px;
    color: white;
    background-color: #2CC6AB;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #2CC6AB;
}

#internal-orange{
    font-size: 10px;
    color: white;
    background-color: #FF9B00;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #FF9B00;
}

#internal-pink{
    font-size: 10px;
    color: white;
    background-color:#EC4A9D;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #EC4A9D;
}

#internal-green-2{
    font-size: 10px;
    color: white;
    background-color: #A3D116;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #A3D116    ;
}

.symbol{
    border: 2px solid #3CCAB1;
    color: #3CCAB1;
    padding: 2px 4px;
    border-radius: 50%;
}

.symbol-x{
    border: 2px solid red;
    color: red;
    padding: 1px 6px;
    border-radius: 50%;
}


    




